@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.appsize{
  margin-top: 100px;
}

.white{
  color: white;
}

.centered{
  margin: auto !important;
  width: 70%;
  left: 50%;
}

.inline{
  > * {
    display: inline-block !important;
    position: absolute;
    transform: translateY(-50%);
    margin-top: 90px !important;
    margin-left: 50px;
  }
}

.grey{
  background-color: rgb(226, 226, 226);
}

.profileTile{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1330px;
}
